.services-wrapper {
  padding: 40px 0;

  .container {
    max-width: 1220px;
    margin: auto;

    h2 {
      color: var(--primary-color);
      text-align: center;
      margin-bottom: 30px;
      font-size: 2.8rem;

      @media (max-width: 580px) {
        font-size: 2.2rem;
        padding: 0 5px;
      }
    }

    .services {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      .service {
        width: 370px;
        height: 300px;
        border-radius: 20px;
        margin-top: 30px;
        background-color: #121212;
        box-shadow: 6px 6px 12px rgb(2, 117, 216, 0.5);
        transition: all 0.3s ease-out;

        @media (max-width: 580px) {
          width: 90%;
          height: auto;
        }
        &:hover {
          transform: translateY(-5px);
        }
        &:hover > .header svg {
          color: #f9f9f9;
          transition: all 0.3s ease-out;
        }

        .header {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          padding: 12px 20px;
          background: var(--primary-color);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 5px;

          svg {
            font-size: 3rem;
          }
        }

        .main {
          padding: 15px 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 15px;
          color: #f8f9f7;

          @media (max-width: 580px) {
            padding: 25px 15px;
          }

          h3 {
            font-size: 1.5rem;
            font-weight: 700;
            color: #f9f9f9;
          }

          p {
            font-weight: 300;
            text-align: center;
            letter-spacing: 1px;
            line-height: 1.7;
            color: #999;
          }
        }
      }
    }
  }
}
