.milestone-wrapper {
  height: 20vh;
  color: #f8f9f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 5px;
  padding: 30px 5px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.253);
  max-width: 1220px;
  margin: 0 auto;

  @media (max-width: 580px) {
    padding: 20px 10px;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 3px;

    .numbers {
      font-size: 1.8rem;
      font-weight: 700;
      color: var(--primary-color);

      @media (max-width: 900px) {
        font-size: 1.5rem;
      }

      @media (max-width: 580px) {
        margin-top: 10px;
      }
    }

    .text {
      font-size: 1.2rem;
      font-weight: 500;
      @media (max-width: 900px) {
        font-size: 1.1rem;
      }

      @media (max-width: 580px) {
        font-size: 0.95rem;
      }
    }
  }
}
